* {
	font-family: "Hack Nerd Font";
	font-size: 12px;
	min-height: 0;
}
window#waybar {
	background: transparent;
}
#workspaces {
	padding: 3px;
	border: 3px solid #9d44ff;
	border-radius: 8px;
	background: #212121;
}
#workspaces button {
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
}
#workspaces button.active {
	background: #9d44ff;
}
#window {
	background: #212121;
	border: 3px solid #9d44ff;
	border-radius: 8px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0px 3px;
}
#clock,
#language,
#wireplumber,
#tray {
	background: #212121;
	border: 3px solid #9d44ff;
	border-radius: 8px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0px 2px;
}
