* {
	font-family: Hack Nerd Font;
	font-size: 12px;
	min-height: 0;
}
window#waybar {
	background-color: rgba(19, 19, 19, 0.8);
}
#custom-menu,
#wireplumber,
#language,
#memory,
#disk,
#cpu,
#clock {
	background-color: #303030;
	color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	margin: 3px 2px;
	border-radius: 4px;
}
#custom-menu {
	padding-right: 10px;
	padding-left: 6px;
}
#tray {
	padding-left: 4px;
	padding-right: 4px;
}
#workspaces button {
	color: #ffffff;
}
#workspaces button.active {
	border-radius: 0px;
	border-bottom: 2px solid #ffffff;
}
#window {
	color: #ffffff;
	font-size: 14px;
}
